<div class="pattern-content">
	<div class="container">
		<form action="/companies" method="POST" data-ajax-zone="search-results" data-ajax-tmpl="companies_searchResults">
			<div class="search-bar">
				<div class="search-construct search-construct--highlight">
					<div class="search-construct-input">
						<input type="text" name="title" placeholder="Введіть назву компанії" {{#if title}}value="{{title}}"{{/if}} />
					</div>
					<button type="submit" class="search-construct-button" data-ajax-formsubmit></button>	
				</div>
				{{> companies_selected_filters selectedFilters=selectedFilters}}
			</div>
			<div class="search-body">
				<details class="search-params" open>
					<summary class="search-params-header">
						Фільтри
					</summary>
					<div class="search-params-body">
						<h3 class="search-subtitle">
							За лояльністю
						</h3>
						<ul class="search-chk-group">
							{{#each loyaltiesList}}
								<li class="row">
									<div class="check-row">
										{{#radio (concat 'rnk_' name)}}
						                    <input id="rnk_{{name}}" name="selectedLoyalty" type="radio" value="{{name}}" {{#equals name ../selectedLoyalty}}checked="checked"{{/equals}} data-ajax-formsubmit data-ajax-callback-event="companiesRefreshed" data-company-filter>
					                    {{/radio}}
					                    <label for="rnk_{{name}}" class="loyalty-color {{name}}">
					                    	{{text}}
					                    </label>
					                </div>
								</li>
							{{/each}}
						</ul>

						<h3 class="search-subtitle">
							Сфера
						</h3>
						<ul id="categoriesList" class="search-chk-group">
							{{#each categoriesList}}
								<li class="row">
									<div class="check-row">
										{{#radio (concat 'ctg_' name)}}
						                    <input id="ctg_{{name}}" name="selectedCategory" value="{{name}}" type="radio" {{#equals name ../selectedCategory}}checked="checked"{{/equals}} data-ajax-formsubmit data-ajax-callback-event="companiesRefreshed" data-company-filter/>
					                    {{/radio}}
					                    <label for="ctg_{{name}}">
					                    	{{text}}
					                    </label>
					                </div>
								</li>
							{{/each}}
						</ul>
						<div data-show-more="categoriesList" data-show-more-value=5 data-close></div>

						<h3 class="search-subtitle">
							Порушення
						</h3>
						<ul class="search-chk-group">
							{{#each violationsList}}
								<li class="row">
									<div class="check-row">
										{{#checkbox (concat 'vlt_' name)}}
						                    <input id="vlt_{{name}}" name="selectedViolations[]" value="{{name}}" type="checkbox" {{#contains name ../selectedViolations}}checked="checked"{{/contains}} data-ajax-formsubmit data-ajax-callback-event="companiesRefreshed" data-company-filter/>
					                    {{/checkbox}}
					                    <label for="vlt_{{name}}">
					                    	{{text}}
					                    </label>
					                </div>
								</li>
							{{/each}}
						</ul>
						<noscript>
							<button type="submit" class="dialog__button">Пошук</button>
						</noscript>
					</div>
				</details>
				<div id="search-results" class="search-results">
					{{> companies_searchResults}}
				</div>
			</div>
		</form>
	</div>
</div>