<div class="pattern-content">
	<div class="container">
		<div class="page-content">
			{{#if successSave}}
				<div class="dialog-success">
					Зміни збережено
				</div>
			{{/if}}
			{{#if errors.page}}
	            <div class="dialog-error">
	                {{errors.page}}
	            </div>
	        {{/if}}
			<form action="/userProfile" method="post" enctype="multipart/form-data">
				<section class="page-block">
					<h1 class="page__h1">
						Ваші особисті дані
					</h1>
					<div class="row">
						<label class="row__label">
							E-mail
						</label>
						<div class="row-text">
							{{loggedUser.email}}
						</div>
					</div>
					<div class="row {{#if errors.fname}}row--error{{/if}}">
						<label class="row__label" for="fname">
							{{#if errors.fname}}
			                    {{errors.fname}}
			                {{else}}
			                    Ім'я
			                {{/if}}
						</label>
						<input class="row__input" type="text" name="fname" {{#if fname}}value="{{fname}}"{{/if}} maxlength="25" />	
					</div>
					<div class="row {{#if errors.lname}}row--error{{/if}}">
						<label class="row__label" for="lname">
							{{#if errors.lname}}
			                    {{errors.lname}}
			                {{else}}
			                    Прізвище
			                {{/if}}
						</label>
						<input class="row__input" type="text" name="lname" {{#if lname}}value="{{lname}}"{{/if}} maxlength="25" />	
					</div>
					{{#equals loggedUser.provider 'local'}}
						<div class="row">
							<a href="/changePassword" class="form-link" data-ajax-dialog="changePassword">Змінити пароль</a>
						</div>
					{{/equals}}
				</section>
				<section class="page-block">
					<h1 class="page__h1">
						Ваше фото
					</h1>
					<div class="userpic {{#if errors.userpic}}fu-error{{/if}}">
						<img src={{picture loggedUser.picture_url}}>
						<input type="file" name="userpic"/>
					</div>
					<div class="hint">
						JPEG або PNG,<br> розміром до 1 Mb
					</div>
				</section>
				<div class="row">
					<button class="page__button" type="submit">
						Зберегти зміни
					</button>
				</div>
			</form>
		</div>
	</div>
</div>