<header class="desktop-header">
	<div class="container">
		<a class="header-logo" href="/">
			<q>И так поймут</q> каталог <abbr title="Засоби масової інформації">ЗМІ</abbr> та бізнесу
		</a>
		<div class="header-right">
			{{#if loggedUser}}
				<a href="/userProfile">
					<img class="header-userpic" src="{{picture loggedUser.picture_url}}">
				</a>
				<a href="/userProfile" class="header-name">{{loggedUser.fname}}</a>
				<a href="/logout" class="header-logout"></a>
			{{else}}
				<a href="/login" class="header-login" data-ajax-dialog="login">
					Вхід/Реєстрація
				</a>
			{{/if}}
		</div>
	</div>
</header>

<nav class="main-menu">
	<div class="container menu-container">
		<ul class="menu">
			{{> page/menu-li-items}}
		</ul>
		<div class="menu-right">
			<a class="search-ico" href="/companies"></a>
			<button class="simple" data-ajax-dialog="createCompany" data-ajax-url="/createCompany">
				Додати компанію
			</button>
		</div>	
	</div>
</nav>

<header class="mobile-header">
	<a href="{{page_url}}#mobile-menu" class="menu-button"></a>
	<div class="mobile-header-buttons">
		<button class="mobile-add-company" data-ajax-dialog="createCompany" data-ajax-url="/createCompany"></button>
		<button class="mobile-search"></button>
		<button data-ajax-dialog="login" class="mobile-user"></button>
	</div>
</header>

<section id="mobile-menu" class="mobile-menu">
	<header class="mobile-menu__header">
		<a href="{{page_url}}#" class="close"></a>
		<h1>
			<q>И так поймут</q> каталог <abbr title="Засоби масової інформації">ЗМІ</abbr> та бізнесу
		</h1>
	</header>
	<nav class="mobile-main-menu">
		<ul class="mobile-main-menu">
			{{> page/menu-li-items}}
		</ul>
	</nav>
</section>