<section class="landing">
	<div class="container">
		<h1 class="main-header">
			База компаній громадської ініціативи <q>И так поймут</q>
		</h1>
		<p class="info">
			Тут ви можете перевірити, чи компанія використовує виключно українську мову, обслуговуючи своїх клієнтів в Україні.
		</p>
		<article class="main-search">
			<form action="/companies" method="GET">
				<div class="search-construct">
					<div class="search-construct-input">
						<input name="title" type="text" placeholder="Введіть назву компанії" data-ajax-autocomplete="langing-auto" autocomplete="off" />
						<div id="autocomplete-popup"></div>
					</div>
					<div class="search-construct-select">
						<select id="selectedCategory" name="selectedCategory" data-trigger-ajax-autocomplete="langing-auto">
							<option value="">Всі сфери</option>
							{{#each categoriesList}}
								<option value="{{name}}">
									{{text}}
								</option>
							{{/each}}
						</select>
					</div>
					<button type="submit" class="search-construct-button"></button>
				</div>
			</form>
		</article>
	</div>
</section>

<div class="pattern bottom-space">
	<div class="container">
		<section class="description">
			<h1 class="description-title">
				<q class="standalone-quote">И так поймут</q> Каталог <abbr title="Засоби масової інформації">ЗМІ</abbr> та бізнесу
			</h1>
			<p class="description-text">
				Це сервіс, де можна перевірити, чи компанія обслуговує своїх клієнтів українською мовою: чи має україномовний сайт, інструкції, етикетки, різні супровідні документи та навіть сторінки у соцмережах. 
			</p>
		</section>
		<section class="search-by-name">
			<h1 class="description-title">
				Шукайте компанії за назвою
			</h1>
			<p class="description-text">
				Якщо ви знаєте назву компанії і хочете перевірити її лояльність, скористайтесь пошуком за назвою компанії. Для цього введіть у поле пошуку кілька перших букв назви й оберіть потрібну компанію із запропонованих нашим розумним пошуком варіантів.
			</p>
			<a class="page__button" href="/companies">
				Шукати за назвою
			</a>
		</section>
		<section class="search-by-category">
			<h1 class="description-title">
				Шукайте компанії за сферою діяльності
			</h1>
			<p class="description-text">
				Хочете скористатись послугами певної компанії, та не знаєте, яка з плеяди представлених на ринку лояльна до україномовного споживача? Скористайтесь нашим пошуком по сферах. Оберіть сферу послуг, що вас цікавить, серед списку зліва на сторінці <q>Всі компанії</q> або у стрічці пошуку на головній сторінці.
			</p>
			<a class="page__button" href="/companies">
				Шукати за сферою
			</a>
		</section>
		<section class="add-company">
			<h1 class="description-title">
				Додавайте компанії до нашої бази
			</h1>
			<p class="description-text">
				Допоможіть нам стати кращими, власноруч додаючи компанії до 	бази. Ми прагнемо представляти якомога більше різноманітних компаній для вашої зручності. Кнопка додавання компанії міститься на верхній панелі зправа.
			</p>
			<a class="page__button" href="/createCompany" data-ajax-dialog="createCompany" data-ajax-url="/createCompany">
				Додати компанію
			</a>
		</section>
		{{#if newCompanies}}
			<section class="landing-container">
				<header class="landing-header">
					Нові компанії
				</header>
				<ul class="new-companies">
					{{#each newCompanies}}
						<li>
							<article class="company-preview">
								<a href="/company/{{_id}}" class="p-company-logo">
									<img src="{{img}}" width=120>
								</a>
								<label class="p-company-title">
									<a href="/company/{{_id}}">
										{{title}}
									</a>
								</label>
							</article>
						</li>
					{{/each}}
				</ul>
			</section>
		{{/if}}
		{{#if comments}}
			<section class="landing-container">
				<header class="landing-header">
					Останні коментарі
				</header>
				<ul class="comments">
					{{#each comments}}
						<li data-href="/company/{{_company._id}}">
							<article class="comment">
								<div class="comment-image">
									<img src={{picture _user.picture_url}}>
								</div>
								<div class="comment-body">
									<div class="comment-meta">
										<span class="comment-author">
											{{_user.fname}} {{_user.lname}}
										</span>
										<span class="comment-time">
											{{formatDate created}}
										</span>
										<a href="/company/{{_company._id}}" class="comment-theme">
											до теми {{_company.title}}
										</a>
									</div>
									<p class="comment-text">
										{{text}}
									</p>
								</div>
							</article>
						</li>
					{{/each}}
				</ul>
			</section>
    	{{/if}}
	</div>
</div>