<div id="dialog" class="dialog">
    <div id="dialog_content" class="dialog_content">
        <h1 class="dialog__h1">
    		Змінити пароль
    	</h1>
        <form action="/changePassword" method="post">
            <div class="row {{#if errors.password}}row--error{{/if}}">
                <label class="row__label" for="password">
                    {{#if errors.password}}
                        {{errors.password}}
                    {{else}}
                        Існуючий пароль
                    {{/if}}
                </label>
                <div class="password-holder">
                    <input id="password" class="row__input password" type="password" name="password" {{#if password}}value="{{password}}"{{/if}} maxlength="25" />
                    <div class="password-toggle" title="Показати пароль" data-title="Показати пароль" data-shown-title="Сховати пароль" data-password-toggle="password"></div>
                </div>
            </div>
            <div class="row {{#if errors.newPassword}}row--error{{/if}}">
                <label class="row__label" for="newPassword">
                    {{#if errors.newPassword}}
                        {{errors.newPassword}}
                    {{else}}
                        Новий пароль
                    {{/if}}
                </label>
                <div class="password-holder">
                    <input id="newPassword" class="row__input higher password" type="password" name="newPassword" {{#if newPassword}}value="{{newPassword}}"{{/if}} maxlength="25" />
                    <div class="password-toggle" title="Показати пароль" data-title="Показати пароль" data-shown-title="Сховати пароль" data-password-toggle="newPassword"></div>
                </div>
            </div>
            <button class="dialog__button" type="submit" data-ajax-submit-dialog="changePassword">Змінити</button>
        </form>
    </div>
</div>