<div id="dialog" class="dialog dialog--company dialog--left">
    <div id="dialog_content" class="dialog_content">
        <h1 class="dialog__h1">
    		Додати компанію
    	</h1>
        {{#if errors.dialog}}
            <div class="dialog-error">
                {{errors.dialog}}
            </div>
        {{/if}}
        <form action="/createCompany" method="post" enctype="multipart/form-data">
            <div class="row--logo">
                <div class="company-attachment-h">
                    <div class="company-attachment {{#if errors.attachment}}fu-error{{/if}}">
                        <input type="file" name="attachment" title="Завантажте лого"/>
                    </div>
                    <div class="hint">
                        JPEG або PNG,<br> розміром до 1 Mb
                    </div>
                </div>
                <div>
                    <div class="row {{#if errors.title}}row--error{{/if}}">
                        <label class="row__label" for="title">
                            {{#if errors.title}}
                                {{errors.title}}
                            {{else}}
                                Назва компанії
                            {{/if}}
                        </label>
                        <input class="row__input" type="text" name="title" {{#if title}}value="{{title}}"{{/if}} />
                    </div>
                    <div class="row">
                        <label class="row__label" for="selectedCategories[]">
                            Оберіть сфери компанії
                        </label>
                        <select name="selectedCategories[]" class="row__input" multiple>
                            {{#each categoriesList}}
                                <option value="{{name}}" {{#contains name ../selectedCategories}}selected="selected"{{/contains}}>{{text}}</option>
                            {{/each}}
                        </select>
                        <!-- todo: add noscript hint -->
                    </div>
                    <div class="row {{#if errors.description}}row--error{{/if}}">
                        <label class="row__label" for="description">
                            {{#if errors.description}}
                                {{errors.description}}
                            {{else}}
                                Опис компанії
                            {{/if}}
                        </label>
                        <textarea class="row__input" name="description" maxlength="300">{{#if description}}{{description}}{{/if}}</textarea>
                    </div>
                    <div class="row {{#if errors.company_site}}row--error{{/if}}">
                        <label class="row__label" for="company_site">
                            {{#if errors.company_site}}
                                {{errors.company_site}}
                            {{else}}
                                Посилання на сайт (якщо є)
                            {{/if}}
                        </label>
                        <div class="http">
                            <input class="http" type="text" name="company_site" maxlength="100" {{#if company_site}}value="{{company_site}}"{{/if}} />
                        </div>
                    </div>
                    <div class="row">
                        <label class="row__label" for="selectedViolations[]">
                            Оберіть порушення компанії
                        </label>
                        <select name="selectedViolations[]" class="row__input" multiple>
                            {{#each violationsList}}
                                <option value="{{name}}" {{#contains name ../selectedViolations}}selected="selected"{{/contains}}>{{text}}</option>
                            {{/each}}
                        </select>
                        <!-- todo: add noscript hint -->
                    </div>
                </div>
            </div>
            <div class="right-content">
                <button class="dialog__button" type="submit" data-ajax-submit-dialog="createCompany">Додати</button>
            </div>
        </form>
    </div>
</div>