<div id="dialog" class="dialog dialog--company dialog--left">
    <div id="dialog_content" class="dialog_content">
        <h1 class="dialog__h1">
    		Додати порушення
    	</h1>
    	<form action="/addViolation" method="post">
    		<input type="hidden" name="company_id" value="{{company_id}}" />
    		<p>
                Тут ви можете відмітити порушення компанії
            </p>
            <ul class="violations">
                {{#each violationsList}}
                    <li class="row">
                        <div class="check-row">
                            {{#checkbox (concat 'vlt_' this)}}
                                <input type="checkbox" 
                                    id="vlt_{{this}}" 
                                    name="selectedViolations[]" 
                                    value="{{this}}" 
                                    {{#contains this ../selectedViolations}}checked="checked"{{/contains}}
                                />
                            {{/checkbox}}
                            <label for="vlt_{{this}}">
                                {{violationByName this}}
                            </label>
                        </div>
                    </li>
                {{/each}}
            </ul>
    		<div class="right-content">
                <button class="dialog__button" type="submit" data-ajax-submit-dialog="addViolation">Додати</button>
            </div>
    	</form>
    </div>
</div>